@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    font-family: "Stack Sans Text", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../video/painting-mountain-lake-with-mountain-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.page-login {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(225,225,225,0.2);
    color: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.page-login h1 {
    font-size: 36px;
    text-align: center;
}

.page-login .input-login {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-login input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(225,225,225,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-login input::placeholder {
    color: #fff;
}

.input-login i {
    position: absolute;
    right: 20px;

    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.page-login .remmper-login {
    display: flex;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remmper-login a {
    text-decoration: none;
    color: #fff;
    margin-left: 3px;
}

.remmper-login a:hover {
    text-decoration: underline;
}

.page-login .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;

    font-weight: 600;
    margin: 0 0 40px;
}

#errorMsg {
    color: #d93025;
    text-align: center;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
    .page-login {
        width: 90%;
        padding: 20px;
    }

    .page-login h1 {
        font-size: 28px;
    }

    .input-login input {
        padding: 15px 40px 15px 15px;
        font-size: 14px;
    }

    .page-login .btn {
        height: 40px;
        font-size: 14px;
    }
}